---
const avatar =
  "https://2.gravatar.com/avatar/39ec5d637b0753448b97a8e63855a45cb6708d033b656fe9f1d3314bb4bfb202?size=128";


const { frontmatter } = Astro.props;
const { context, title, description, date, authors, tags, license } = frontmatter;

const author = authors[0];
---

<header style="margin-bottom: 3rem;">
    <div style="margin-bottom: 1.5rem;">
  <h1
    style="font-size: 2.25rem; line-height:1; font-weight:700; color: #020617;
    margin-bottom: 1rem;"
  >
    {title}
  </h1>
  <p style="color: #64748b;">
   {description}
  </p>
  </div>
  <div style="display: flex; justify-content: left; gap: 1rem;">
    <img
      src={author.image}
      alt="avatar"
      style="margin: 0px; flex: 0 48px; width: 48px; height: 48px; border-radius: 50%;"
    />
    <p style="margin: 0px; flex: auto; font-size: 0.875rem; line-height: 1.25rem; color: #1e293b;">
      {author.name}
      <br />
      {author.title}, {author.affiliation}
      <p></p>
    </p>
  </div>
</header>
