---
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/fira-code/index.css";
import { Icon } from 'astro-icon';

interface Author {
  name: string;
  email?: string;
  url?: string;
  affiliation?: string;
  twitter?: string;
  github?: string;
}
interface Frontmatter {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
  authors?: Author[];
  license?: string;
}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
const { title, description, authors } = frontmatter;

const authors_text = (authors || [])
  .map((author: any) => author.name)
  .join(", ");

const site = Astro.site?.href;
const base = import.meta.env.BASE_URL;
const root = site + base;

---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>{title}</title>
    <base href={root} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style is:global>
      html {
        hyphens: auto;
        font-size: 18px;
        line-height: 36px;
        font-family: "Inter Variable", sans-serif;
        padding: 18px;
      }

      p {
        margin-top: 0rem;
        margin-bottom: 2rem;
      }

      h1 {
        font-size: 2.25rem;
        margin-top: 98px;
      }

      h2 {
        font-size: 1.5rem;
        margin-top: 72px;
      }

      h3 {
        font-size: 1rem;
        margin-top: 36px;
      }

      img,
      video {
        margin: auto;
        display: block;
        margin-bottom: 1.5rem;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      }

      figure {
        margin-bottom: 1.5rem;
      }

      pre.astro-code {
        /* pre:has(> code) support not there yet */
        border-radius: 0.25rem;
        overflow-x: auto;
        padding: 1rem 2rem;
      }
      :not(pre) > code {
        font-family: "Fira Code Variable", sans-serif;
        background-color: #e2e8f0;
        color: black;
        border-radius: 0.25rem;
        padding: 0rem 0.25rem;
      }
      pre > code {
        line-height: 1rem;
      }
    </style>
    <style>
      main {
        max-width: 768px;
        margin: 3rem auto 1rem auto;
      }
      /* main {
      background-image: url('background.svg');
      background-repeat: repeat;
      } */
    </style>
  </head>
  <body>
    <nav>
      <a href={import.meta.env.BASE_URL}><Icon name="python" style="width:2rem;height:2rem;"></a>
    </nav>
    <main>
      <!-- <h1>{title}</h1>
      <h2>{authors_text}<h2> -->
      <slot />
    </main>
  </body>
</html>
